{% extends 'home/index.html' %}
{% block main_content %}


<div class="card">
    <div class="card-header bg-primary">
        <div class="row">
                {% if object %}
                <h3 class="h6 text-uppercase text-white mb-0">Event Update/h3>
                    {%else%}
                    <h3 class="h6 text-uppercase text-white mb-0">Event Create</h3>
                {%endif%}
                <a href="{% url 'events:home' %}" class="ml-auto mr-2 text-white"><i class="fas fa-times"></i></a>
        </div>
        
    </div>
    <div class="card-body">
        <form action="{% if object %}{% url 'events:event_update' object.id %}{% else %}{% url 'events:event_create' %}{% endif %}"
            method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock main_content %}